
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_FormLayout</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <style>
        /*
        .tum {
            background-color: #F4F6F9;
            padding-left: 30%;
            padding-right: 30%;

        }
        .icerik {
         padding:30px;
        }
        h1,h2{

            text-align: center;
            font-size:50px;


        }
        .btn {
            width:100%;
            margin:2px;
            font-size:20px;
        }
        label{

            font-size:19px;

        }
        .form-control{

        }
        .card-form {
            background-color: white;
            border-radius: 20px;
            padding-top:5px;
            padding-left: 30px;
            padding-right: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
            input[type=text] {
                width: 100%;
                padding: 22px 20px;
                margin: 9px 0;
                box-sizing: border-box;
                border: 2px solid gray;
                border-radius: 4px;
                text-align:center;
                font-size:20px;
            }

            .btn, btn-info {
                text-align:center;
            }
            .closepopup {
                display:flex;
                justify-content:flex-end;
            }
        i {
            font-size: 60px;
            position: absolute;
            top: 80px;
            color:red;
        }*/

        body {
            background-color: #F4F6F9;
        }
        h1, h2 {
            text-align: center;
            font-size: 40px;
         
        }
        i {
            font-size: 50px;
            position: absolute;
            text-align: right;
            color: red;
            top: 20px;
            
        }
        .closepopup {
            display: flex;
            justify-content: flex-end;
        }

        .wrapper {
            margin-top: 50px;
            margin-bottom: 50px;
          
        }

        .form-signin {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5%;
            max-width: 660px;
            padding: 15px 35px 45px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.1);
         
        }
       

        .checkbox {
            font-weight: normal;
        }

        .form-control {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;

        }

        input[type="text"] {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        input[type="password"] {
            margin-bottom: 20px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }


        

    </style>
</head>
<body>
    @*<div class="tum">
        <div class="icerik">
            <div class="card-form">

                @RenderBody()
            </div>
            </div>
        </div>*@
    <div class="wrapper">
        <form class="form-signin">

            @RenderBody()



</body>
</html>
