
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <a href="/Login/Admin">Admin Giriş</a>
        <a href="/Login/Index">Subcustomer Giriş</a>
        <a href="/Login/CustomerIndex">CustomerIndex Giriş</a>
        <a href="/Login/Chief">Şef Giriş</a>
    </div>
</body>
</html>
