@using EntityLayer.Concrete
@model  List<Appointment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerAdminLayout.cshtml";
}



@{
    int bluebox = 0;
    int yellowbox = 0;
    int greenbox = 0;
    int redbox = 0;
}
@foreach (var item in Model)
{
    if (item.AppointmentTrackStatus == 1)
    {
        bluebox++;
    }
    if (item.AppointmentTrackStatus == 4)
    {
        greenbox++;
    }
    if (item.AppointmentTrackStatus == 7)
    {
        yellowbox++;
    }
    if (item.AppointmentTrackStatus == 11)
    {
        redbox++;
    }

}

<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@bluebox</h3>

            <p>Onay Bekleyen Randevular</p>
        </div>
        <div class="icon">
            <i class="ion ion-cube"></i>
        </div>
        <ion-icon name="cube-outline"></ion-icon>
        <a href="/CustomerAppAccept/WaitingAppointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>

<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>@greenbox @*<sup style="font-size: 20px">%</sup>*@</h3>

            <p>Onaylanan Randevular</p>
        </div>
        <div class="icon">
            <i class="ion ion-checkmark"></i>
        </div>
        <a href="/CustomerAppAccept/Appointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>

<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>@yellowbox</h3>

            <p>İptal Edilmeyi Bekleyen Randevular</p>
        </div>
        <div class="icon">
            <i class="ion ion-clock"></i>
        </div>
        <a href="/CustomerAppAccept/AppliedWantsCancelAppointments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>

<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>@redbox</h3>

            <p>İptal Edilen Randevular</p>
        </div>
        <div class="icon">
            <i class="ion ion-alert"></i>
        </div>
        <a href="/CustomerAppAccept/CanceledAppoinments/" class="small-box-footer">Detaylara Git <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>