
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_SubCustomerLayout.cshtml";
}
<head>
    <style>

        * {
            box-sizing: border-box
        }

        .container {
            width: 100%;
            background-color: #ddd;
        }

        .skills {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
        }

        .html {
            
            background-color: #04AA6D;
        }

     

    </style>
</head>

<h2>Calendar</h2>

<body>


    <div class="container">
        <div class="skills html" style=" width: 90%;">9 : 00</div>
    </div>
    <br />
    <div class="container">
        <div class="skills html" style=" width: 30%;">10 : 30</div>
    </div>
    <br />
    <div class="container">
        <div class="skills html" style=" width: 60%" ;>12 : 00</div>
    </div>



   
</body>