@using EntityLayer.Concrete
@model List<SubCustomer>
@{
    ViewBag.Title = "SubCustomerList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="card">
    <div class="card-header table-responsive p-2" >
        <h3 class="card-title" style="font-size:30px; font-weight:700">Tedarikçiler</h3>
        <table id="example1" class="table table-bordered table-striped table-hover">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>KULLANICI ADI</th>
                    <th>ŞİFRE</th>
                    <th>MAİL</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.SubCustomerCompany</th>
                        <td>@item.SubCustomerStatus</td>
                        <td>@item.SubCustomerUsername</td>
                        <td>@item.SubCustomerPassword</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>


